15-starting-project/15-starting-project/node_modules/*
17-starting-project/17-starting-project/node_modules/*
18-starting-project/18-starting-project/node_modules/*
19-starting-project/19-starting-project/node_modules/*
21-starting-project/21-starting-project/node_modules/*
21-adv-starting-project/21-adv-starting-project/backend/node_modules/*
21-adv-starting-project/21-adv-starting-project/frontend/node_modules/*
21-adv-starting-project/21-adv-starting-project/how-to-use.txt
.vscode/*
22-starting-project/22-starting-project/frontend/node_modules/*