15-starting-project/15-starting-project/node_modules/*
17-starting-project/17-starting-project/node_modules/*
18-starting-project/18-starting-project/node_modules/*
19-starting-project/19-starting-project/node_modules/*
21-starting-project/21-starting-project/node_modules/*
.vscode/*
